<!DOCTYPE html>
<html lang="en" ng-app="queryApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="queryCtrl">
    <div class="container">
    	<h1>Search Employees by Age</h1>
        <form name="queryForm" novalidate ng-submit="ctrl.searchByEmployeesByAge()">
        	<div class="form-group">
        		<label for="ageCriteria">Criteria:</label>
        		<!--<input type="text" class="form-control" name="ageCriteria" id="ageCriteria" placeholder="Input...">-->
                <select class="form-control" name="ageCriteria" id="ageCriteria" ng-model="ctrl.ageCriteria">

                </select>
        	</div>



        	<button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</html>